<!DOCTYPE html>
<html lang="">
<head>
<title>Numbers N' Units!</title>
<link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<img src="/public/images/temperature.png" alt="Thermostat" class="left-image">
<img src="/public/images/ruler.png" alt="Ruler" class="right-image">
<img src="/public/images/clock.png" alt="Clock" class="bottom-left-image">
<img src="/public/images/coins.jpg" alt="Coins" class="bottom-right-image">

<h1>Numbers N' Units!</h1>
<p>Welcome to Shaan's Unit Converter!</p>
<br>
<a href="/length" class="btn"><strong>Length Converter</strong></a>
<br><br>
<a href="/weight" class="btn"><strong>Weight Converter</strong></a>
<br><br>
<a href="/volume" class="btn"><strong>Volume Converter</strong></a>
<br><br>
<a href="/time" class="btn"><strong>Time Converter</strong></a>
<br><br>
<a href="/temperature" class="btn"><strong>Temperature Converter</strong></a>
<br><br>
<a href="/currency" class="btn"><strong>Currency Converter</strong></a>
<br><br>
<a href="/number" class="btn"><strong>Number Station</strong></a>
<br><br><br>
<button class="logout" onclick="logout()">Log Out</button>

</body>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyALnrPUS0DlWb7bgezdHEppgblrUpN03bQ",
        authDomain: "numbersnunits.firebaseapp.com",
        databaseURL: "https://numbersnunits.firebaseio.com",
        projectId: "numbersnunits",
        storageBucket: "numbersnunits.appspot.com",
        messagingSenderId: "669587148335"
    };
    firebase.initializeApp(config);
    logout=()=>{
        firebase.auth().signOut()
            .then(function() {
                //window.alert("Sign out Successful")
                window.location = '/'
            }, function(error) {
                window.alert("Sign Out Failed")
            });
    };
    </script>
</html>
