<!DOCTYPE html>
<html lang="">
<head>
<title>Numbers N' Units!</title>
<link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<h1>Numbers N' Units!</h1>
<p>Welcome to Shaan's Unit Converter!</p>
<br>
<a href="/length" class="btn">Length Converter</a>
<br><br>
<a href="/weight" class="btn">Weight Converter</a>
<br><br>
<a href="/volume" class="btn">Volume Converter</a>
<br><br>
<a href="/time" class="btn">Time Converter</a>
<br><br>
<a href="/temperature" class="btn">Temperature Converter</a>
<br><br>
<a href="/currency" class="btn">Currency Converter</a>
<br><br>
<a href="/number" class="btn">Number Station</a>
</body>
</html>

