<!DOCTYPE html>
<html>
<title>Number Station</title>
<body>

<h2>Number Station</h2>
<p>Type any number in the field to get a list of information related to that number:</p>

<p>
    <label>Number</label>
    <input id="inputNumber" type="number" placeholder="Number" oninput="converter(this.value)" onchange="converter(this.value)">
</p>

<p>Number Doubled: <span id="outputDoubled"></span></p>
<p>Number Halved: <span id="outputHalved"></span></p>
<p>Square: <span id="outputSquare"></span></p>
<p>Square Root: <span id="outputSquareRoot"></span></p>
<p>Prime or Composite: <span id="outputPrimeOrComposite"></span></p>
<p>Factors: <span id="outputFactors"></span></p>
<br><br>
<a href="/" class="btn">Home</a>

<script>
    function converter(valNum) {
        valNum = parseFloat(valNum);

        //DOUBLED
        document.getElementById("outputDoubled").innerHTML = valNum * 2;

        //HALVED
        document.getElementById("outputHalved").innerHTML = (valNum / 2).toFixed(2);

        //SQUARE
        document.getElementById("outputSquare").innerHTML = valNum * valNum;

        //SQUARE ROOT
        let root = valNum;
        root = Math.sqrt(root);
        document.getElementById("outputSquareRoot").innerHTML = root.toFixed(5);

        //PRIME OR COMPOSITE

        let divisor = 3;
        let number = valNum;
        number = Math.abs(number);
        let checker = false;

        if (number === 0 || number === 1) {
            document.getElementById("outputPrimeOrComposite").innerHTML = "NEITHER!";
        } else {

            if (number === 2) {
                checker = false;
            } else

            if (number % 2 === 0) {
                checker = true;
            } else {
                while (divisor <= Math.sqrt(number)) {
                    if (number % divisor === 0) {
                        checker = true;
                        break;
                    }
                    divisor += 2;
                }
            }

            if (checker) {
                document.getElementById("outputPrimeOrComposite").innerHTML = "COMPOSITE!";
            } else {
                document.getElementById("outputPrimeOrComposite").innerHTML = "PRIME!";
            }

        }

        //FACTORS
        let num = valNum;
        let string = "";
        let counter = 1;

        if (num === 1) {
            string += num;
            document.getElementById("outputFactors").innerHTML = string;
        } else {
            while (counter <= num / 2) {
                if (num % counter === 0) {
                    if (string !== "") {
                        string += ", ";
                    }
                    string += counter;
                }
                counter++;
            }
            if (string !== "") {
                string += ", " + num;
            }
            document.getElementById("outputFactors").innerHTML = string;
        }
    }
</script>
</body>
</html>
