<!DOCTYPE html>
<html>
<title>Number Station</title>
<body>

<h2>Number Station</h2>
<p>Type any number in the field to get a list of information related to that number:</p>

<p>
    <label>Number</label>
    <input id="inputNumber" type="number" placeholder="Number" oninput="converter(this.value)" onchange="converter(this.value)">
</p>
<p>Square: <span id="outputSquare"></span></p>
<p>Square Root: <span id="outputSquareRoot"></span></p>

<script>
    function converter(valNum) {
        valNum = parseFloat(valNum);
        //SQUARE
        document.getElementById("outputSquare").innerHTML = valNum * valNum;

        //SQUARE ROOT
        let root = valNum;
        root = Math.sqrt(root);
        document.getElementById("outputSquareRoot").innerHTML = root.toFixed(5);

    }
</script>
</body>
</html>
